#log-header {
    height: auto;
    padding: 0;
    background: $surface;
}

#log-panel {
    height: 6;
}

.output-maximized #main-tabs {
    display: none;
}

.output-maximized #log-panel {
    height: 1fr;
}

#log-panel.hidden {
    display: none;
}

#output-log {
    height: 6;
    overflow: auto;
}

.output-maximized #output-log {
    height: 1fr;
}

Log {
    height: 14;
    border: round $surface;
}
